<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="status">Status</option>
        <option value="name">Alphabetical</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="chores">
        <li ng-repeat="chore in chores | filter:query | orderBy:orderProp"
            class="thumbnail chore-listing">
          <a href="#/chores/{{chore.id}}" class="thumb"><img ng-src="{{chore.imageUrl}}"></a>
          <a href="#/chores/{{chore.id}}">{{chore.name}}</a>
        </li>
      </ul>

    </div>
  </div>
</div>
